body{
    padding: 0;
    margin: 0;
}

/* Header de la página */
header{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(145,145,145,1) 82%);
    display: flex;
    flex-direction: row;
    height: 12vh;
    width: 100%;
    border-bottom: solid black 2px;
}

/* Bloque del header que contiene el logo del portfolio */
header .logo{
    display: flex;
    justify-content: start;
}

/* Imagen del logo */
header .logo img{
    width: 15%;
}

/* Bloque que contendra todo el contenido del porfolio */
.contenido{
    display: flex;
    flex-direction: column;
}

/* Bloque que contendra la parte de los conocimientos informáticos */
.contenido .bloqueContenido{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4%;
    background-color: blue;
    margin-bottom: 0;
}

/* Bloque del texto en los conocimientos */
.contenido .bloqueContenido .textoContenido{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 2%;
    width: 70%;
    height: 100%;
}

/* Título del bloque de los conocimientos */
.contenido .bloqueContenido .textoContenido .titulo{
    text-align: center;
}

.contenido .bloqueContenido .textoContenido .izquierda{
    text-align: right;
    margin-right: 3%;
}